/*Tien Pham*/
*{magrin: 0; padding:0}

body{
	font: normal 12px Arial;
<<<<<<< .mine
}

header{
	height: 100px;
	width: 50px;
=======
}
/*bảo nguyên*/
.cd{
color : #fff;
>>>>>>> .r3
}